/*
* @Author: ow
* @Date:   2018-01-09 11:14:34
* @Last Modified by:   ow
* @Last Modified time: 2018-01-10 19:59:13
*/
@import url("base.css");
*{
	text-decoration: none;
}
@font-face {
  font-family: 'iconfont';  /* project id 535892 */
  src: url('https://at.alicdn.com/t/font_535892_jr0gv2fhqov6xbt9.eot');
  src: url('https://at.alicdn.com/t/font_535892_jr0gv2fhqov6xbt9.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_535892_jr0gv2fhqov6xbt9.woff') format('woff'),
  url('https://at.alicdn.com/t/font_535892_jr0gv2fhqov6xbt9.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_535892_jr0gv2fhqov6xbt9.svg#iconfont') format('svg');
}
.iconfont{
	font-family: 'iconfont';
}

i{
	font-style: normal;
}
.icon1{
    font-size: 35px;
}
.about{
	padding: 120px 0;
	/* background: skyblue; */
}
.about-head{
	max-width: 600px;
	/* background: pink; */
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;
}
.about-head h1{
	font-size: 36px;
	color: #0d0d0d;
	font-weight: 700;
}
.about-head p{
	font-size: 14px;
	color: #55575d;
	line-height: 22px;
}
.about-img img{
	display: block;
	width: 100%;
	height: 100%;
}
.about-text h2{
	font-size: 36px;
	color: #0d0d0d;
	font-weight: 700;
	margin-top: 0;
}
.about-text p{
	font-size: 14px;
	color: #55575d;
	line-height: 24px;
}
.skill{
    padding: 120px 0;
    background: #f3f3f4;
}
.skill-list{
	background: #fff;
	padding: 30px;
	text-align: center;
	margin-bottom: 30px;
	transition: 0.25s;
}
.skill-list h3{
	font-size: 24px;
	color: #0d0d0d;
	font-weight: 700;
	margin-top: 0;
}
.skill-list p{
	font-size: 14px;
    color: #55575d;
    line-height: 24px;
}
.skill-list:hover{
	transform: translateY(-5px);
	box-shadow: 0px 4px 16px 0px #808080;
}
.zuopin{
	padding: 120px 0;
	background: #fff;
}
.zuopin-menu{
	text-align: center;
	margin-bottom: 30px;
	display: flex;
	justify-content: center;
}
.zp-menu-list{
	margin-left: 25px;
}
.mesl a:first-child{
	color: #0d1218;
}
.zp-menu-list a{
	text-decoration: none;
	font-size: 16px;
    line-height: 28px;
    color: #979797;
    font-weight: 700;
}
.zp-menu-list a:hover{
	color: #0d1218;
}
.zuopin-list{
	margin-bottom: 30px;
	position: relative;
}
.zuopin-list img{
	display: block;
	width: 100%;
	height: 100%;
}
.zp-list2{
	height: 100%;
    width: 100%;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    opacity: 0;
    transition: all 0.5s;
}
.zp-list2:hover{
	opacity: 1;
}
.zp-list2 a{
		text-decoration: none;
}
.y1{
	/* display: block; */
	width: 36px;
	height: 36px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
	margin-left: 10px;
	text-align: center;
	line-height: 36px;
	opacity: 0;
	transform: scale(0);
	transition: all 0.5s;
}
.y1:hover{
	background: skyblue;
}
.y1:hover .icony1{
	color: #fff;
}
.icony1{
	font-size: 22px;
	color: #0d1218; 
}
.zp-list2-wz1{
	width: 100%;
	text-align: center;
	margin-top: 15px;
	font-size: 18px;
    line-height: 24px;
    color: #fff;
    opacity: 0;
	transform: rotateY(90deg);
	transition: all 0.5s;
}
.zlwz2{
	font-size: 14px;
    line-height: 24px;
    margin-top: 5px;
    opacity: 0;
	transform: translateY(70px);
	transition: all 0.5s;
}
.zp-list2:hover .y1{
	opacity: 1;
	transform: scale(1);
}
.zp-list2:hover .zp-list2-wz1{
	opacity: 1;
	transform: rotateX(0deg);
}
.zp-list2:hover .zlwz2{
    opacity: 1;
	transform: translateY(0px);
}
.contact{
	padding: 120px 0;
	background: #f3f3f4;
}
.contact-input{
	width: 100%;
    border: 1px solid #e4e7e9;
    border-radius: 3px;
    outline: none;
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #a3a8ab;
    margin-bottom: 20px;
    padding: 10px 15px;
}
.shuru-right1{
	margin-bottom: 30px;
	overflow: hidden;
}
.icon{
	width: 60px;
	height: 60px;
	background: #fff;
	text-align: center;
	line-height: 60px;
	margin-right: 15px;
	float: left;
}
.iconsr1{
	font-size: 36px;
	color: #55575d;
}
.shuru-right1 p{
    /* float: left; */
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #959595;
    margin: 0;
}
.contact-submit{
	background: #1a1a1a;
	padding: 5px 20px;
	border: none;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	border-radius: 2px;
	margin-bottom: 30px;

}
footer{
	padding: 42px 0px;
	background-color: #0d1218;
	position: relative;
}
.footer1 p{
    margin: 6px 0;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
}
.footer-right{
	display: flex;
	justify-content: flex-end;
	margin: 0;

}
.footer-right-list{
    height: 36px;
    width: 36px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 50%; 
    margin-right: 5px;
    text-align: center;
    line-height: 36px;

}
.footer-right-list a{
	text-decoration: none;
}
.footer-right-list:hover{
	background: skyblue;
	color: #fff;
}
.iconft1{
	font-size: 22px;
	color: #252525;
}
.ft-jianyou{
	display: block;
	width: 36px;
	height: 36px;
	background: #0d1218;
	text-align: center;
	line-height: 36px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateY(-50%) rotate(45deg);
}
.ft-jianyou:hover{
	background: skyblue;
}
.ft-jianyou:hover i{
	color: #0d1218;
}
.ft-jianyou i{
	display: block;
	font-size: 22px;
	color: #fff;
	transform: rotate(-45deg);
}
.iconft-wenzi{
	color: #0d1218;
	font-weight: 700;
}
.container a{
	text-decoration: none;
}
.footer-right-list:hover .iconft1{
	color: #fff;
}
.footer-right-list:hover .iconft-wenzi{
	color: #fff;
}


/* 移动端<768 */
@media screen and (max-width: 768px){
    .about-img{
    	margin-bottom: 30px;
    }
}

/* 平板768-992 */
@media screen and (min-width: 768px) and (max-width: 992px){
    .about-img{
    	margin-bottom: 30px;
    }
}

/* pc小屏992-1200 */
@media screen and (min-width: 992px) and (max-width: 1200px){

}

/* pc大屏>1200 */
@media screen and (min-width: 1200px){

}
